*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  height: 100vh;
  margin: auto;
  text-align: center;
  position: relative;
  background-image: linear-gradient(to right,rgb(30, 179, 235), rgb(76, 204, 23));
  /* background-color: red; */
}
h1.rainbow{
  font-size: 40px;
  padding-top: 40px;
  background-image: linear-gradient(to right,rgb(232, 46, 41),rgb(240, 87, 31), rgb(219, 35, 235), rgb(78, 139, 244) );
  /* seleziono il testo */
  -webkit-background-clip: text;
  /* lo rendo trasparente in modo da vedere lo sfondo sotto e farlo sembrare colorato */
  -webkit-text-fill-color: transparent;
}

.slider-immagini{
  width: 900px;
  height: 600px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.sinistra{
  height: 100%;
  width: 100px;
    text-align: right;
}

.immagini{
  width: 700px;
  height: 100%;
  position: relative;
}

.destra{
  height: 100%;
  width: 100px;
}

.destra i,
.sinistra i{
  font-size: 30px;
  line-height: 600px;
  cursor: pointer;
}

.immagini img{
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.puntini{
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: grey;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.puntini i {
  cursor: pointer;
  color: white;
  font-size: 20px;
}
.puntini i.active{
  color: blue;
}

.no{
  display: none;
}

.show{
  display: block;
}
.testo-foto{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testo-foto div{
  width: 500px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  text-align: center;
}
