*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  height: 100vh;
  margin: auto;
  position: relative;
  background-image: linear-gradient(to right,rgb(30, 179, 235), rgb(76, 204, 23));
  /* background-color: red; */
}

.slider-immagini{
  width: 900px;
  height: 600px;
  background-color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.sinistra{
  height: 100%;
  width: 100px;
  background-color: pink;
    text-align: right;
}

.immagini{
  width: 700px;
  height: 100%;
  background-color: red;
  position: relative;
}

.destra{
  height: 100%;
  width: 100px;
  background-color: pink;
}

.destra i,
.sinistra i{
  font-size: 30px;
  line-height: 600px;
  cursor: pointer;
}

.immagini img{
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.puntini{
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: grey;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.puntini i {
  color: white;
  font-size: 20px;
}
.puntini i.active{
  color: blue;
}
