<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Document</title>
</head>
<body>
  <div id="slider" class="container">
    <h1 class="rainbow">AZORES VIBES</h1>
    <div class="testo-foto">
      <!-- prima modalità -->
      <!-- <div :class="(contatore == 0) ? 'show' : 'no'">
        opzione 1
      </div>
      <div :class="(contatore == 1) ? 'show' : 'no'">
      opzione 2
      </div> -->
      <!-- seconda modalità, con if -->
      <div class="no" v-if="(contatore == 0)" :class="mostra">
        <h2>SETE CIDADES</h2>
      </div>
      <div class="no" v-else-if="(contatore == 1)" :class="mostra">
        <h2>VILA FRANCA DO CAMPO</h2>
      </div>
      <div class="no" v-if="(contatore == 2)" :class="mostra">
        <h2>MIRADOURO DE SETE CIDADES</h2>
      </div>
      <div class="no" v-else-if="(contatore == 3)" :class="mostra">
        <h2>NORDESTE</h2>
      </div>
    </div>
    <div  class="slider-immagini">
      <div class="sinistra"><i @click="precedente" class="fas fa-chevron-left"></i></div>
      <div class="immagini">
      <img :src="immagine[contatore]" alt="">
      <div class="puntini">
        <i @click="selettore(index)"class="fas fa-circle" v-for="(foto, index) in immagine" :class="(index == contatore) ? 'active' : ''"></i>
      </div>

      </div>
      <div class="destra"><i @click="successiva"class="fas fa-chevron-right"></i></div>
    </div>
  </div>
<script type="text/javascript" src="vue/script.js">

</script>
</body>
</html>
